<div>

  <h3>Formulario de Registro</h3>

  <form action="/auth/signup" method="post">

    <label for="username">Nombre</label>
    <input type="text" name="username">

    <br>

    <label for="email">Correo Electronico</label>
    <input type="email" name="email">

    <br>

    <label for="password">Contraseña</label>
    <input type="password" name="password">

    <br>

    <label for="dateborn">Fecha de Nacimiento</label>
    <input type="date" name="dateborn">

    <button>Registrarse</button>

  </form>


</div>