<div>
    <h2>Lista de todos los lugares de {{allPlaces.[0].province}}</h2>
    {{#each allPlaces}}
    <h3>{{this.name}} </h3>
    <img src="{{this.placeImg}}" alt="">
    <a href="/places/{{this._id}}/details"><button>Detalles</button></a>
    {{/each}}
</div>