<div>
  <h2>Formulario para crear nuevo lugar</h2>
  <form action="/places/create/place" method="post" enctype="multipart/form-data">
    <label for="name">Nombre del Lugar</label>
    <input type="text" name="name" />
    <br />
    <br />
    <label for="location">Localización</label>
    <input type="text" name="location" />
    <br />
    <br />
    <label for="description">Descripción</label>
    <textarea type="text" name="description" cols="40" rows="20" ></textarea>
    <br />
    <br />
    <label for="placeImg">Imagen del Lugar</label>
    <input type="file" name="placeImg" />
    <br />
    <br />
    <label for="province">Provincias</label>
    <select name="province" >
      {{#each pronvincesArr}}
      <option >{{this}}</option>
      {{/each}}
    </select>
    <br />
    <br />
   <button>Añadir</button>
    {{#if this.errorMessage}}
      <p>{{this.errorMessage}}</p>
    {{/if}}
  </form>
</div>