<div class="container">
  <h1 class="h1title">Creaci칩n un nuevo sitio</h1>
  <form action="/places/create/place"  method="post" enctype="multipart/form-data"></form>
    <div class="row">
      <div class="col-md-4">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="col-md-4">
        <label for="location">Ubicaci칩n</label>
        <input type="text" class="form-control" name="location" />
      </div>
      <div class="col-md-4">
        <label for="province">Provincia</label>
        <select class="form-control" name="province">
          {{#each pronvincesArr}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <label for="description">Descripci칩n</label>
        <textarea
          class="form-control"
          name="description"
          cols="40"
          rows="5"
        ></textarea>
      </div>
      <div class="col-md-4">
        <label for="placeImg">Imagen del Lugar</label>
        <input type="file" class="form-control-file" name="placeImg" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button id="buttonCreate" class="btn btn-primary">A침adir</button>
        {{#if this.errorMessage}}
          <p class="text-danger">{{this.errorMessage}}</p>
        {{/if}}
      </div>
    </div>
  </form>
</div>