<div>
   <h2>Aqui los detalles de nuestro lugar</h2>
   {{#each placeDetails}}
   <h3>{{this.name}}</h3>
   <p>{{this.location}}</p>
   <p>{{this.description}}</p>
   <img src="{{this.placeImg}}" alt="">
   {{/each}}
</div>