<div class="div-Home">
  <h1 class="h1-Home">Descubre Andalucía</h1>
  <div class="div-p-Home">
    <p class="p-Home">Sumérgete en la rica historia, la cultura vibrante y los
      paisajes impresionantes que hacen de Andalucía un destino verdaderamente
      inolvidable.
    </p></div>
  <div class="row justify-content-center">
    {{#each provincesPlaces}}
      <div class="col-md-3 mb-4">
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
            <br />
            <a
              href="/places/{{this}}"
              id="buttonHome"
              class="btn btn-primary"
            >Detalles</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>