<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

 

<body>

   <nav>
         <a href="/">Inicio</a>

         {{#if isUserActive}}
            {{#unless isAdminActive}}
               <a href="/user/profile/">Mi Perfil</a>
               <a href="/auth/logout">Cerrar Sesión</a>
            {{/unless}}
         {{/if}}
         {{#if isAdminActive}}  
           <a href="/user/list-users">Lista de usuarios</a>
            <a href="/auth/logout">Cerrar Sesión</a>
         {{/if}}     
         {{#unless isUserActive}}       
         <a href="/auth/login">Inicio de Sesión</a>
         <a href="/auth/signup">Registrarse</a>
         {{/unless}}

      </nav>


      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>