body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.rating {
  display: inline-block;
  font-size: 30px;
  color: grey;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  margin: 0 2px;
}

.rating label:before {
  content: '\2605';
}

.rating input:checked ~ label {
  color: gold;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
