body {
  font: Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 30px;
  text-align: center;
}
.rating {
  display: inline-block;
  font-size: 30px;
  color: grey;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  margin: 0 2px;
}

.rating label:before {
  content: "\2605";
}

.rating input:checked ~ label {
  color: gold;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.div-Home {
  background-image: url("../images/background-andalucia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.navHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80px;
  background-color: #164d49;
}

.navHome li {
  margin: 10px 0;
}

.navHome a {
  color: white;
}

.h1-Home {
  color: white !important;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
}

.p-Home {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 10px 10px 10px 5px black;
  border-radius: 25px;
  padding: 20px;
}

.div-p-Home {
  padding: 20px;
  border-radius: 20px;
  width: 785px;
  color: white;
  text-decoration: double;
}

.row {
  margin-top: 90px !important;
}

.card {
  background-color: #164d49 !important;
  color: white;
}

#buttonHome {
  color: black;
  background-color: white;
  border: none;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

#buttonNav {
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}

#buttonNav:hover {
  border: 1px solid #164d49;
  background-color: white;
  color: #164d49;

}

.btn-primary {
  border: none !important;
}

.table {
  margin-top: 80px;
}

.h1title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 50px;
}

.placeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.placeDetails {
  margin-top: 80px; 
}

#buttonDetails {
  background-color: #164d49;
  margin-top:20px
}

#buttonDetails:hover {
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
}

#buttonCreate {
  background-color: #164d49;
}

#buttonCreate:hover {
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
}
.form-signup{
  background-image: url("../images/background-andalucia.jpg");
  background-size: cover; 
  background-repeat: no-repeat;

  padding: 20px;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  }
.form-regis{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.letter-label{
  font-weight: bold;
}
.form-regis button {
  position: absolute; 
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: #164d49; 
}