body {
  font: Helvetica, Arial, sans-serif;
  background-color: #ebe1d8!important;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 30px;
  text-align: center;
}
.rating {
  display: inline-block;
  font-size: 30px;
  color: grey;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  margin: 0 2px;
}

.rating label:before {
  content: "\2605";
}

.rating input:checked ~ label {
  color: gold;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.div-Home {
  background-image: url("../images/background-andalucia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.navHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80px;
  background-color: #164d49;
}

.navHome li {
  margin: 10px 0;
}

.navHome a {
  color: white;
}

.h1-Home {
  color: white !important;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
}

.p-Home {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 10px 10px 10px 5px black;
  border-radius: 25px;
  padding: 20px;
}

.div-p-Home {
  padding: 20px;
  border-radius: 20px;
  width: 785px;
  color: white;
  text-decoration: double;
}

.row {
  margin-top: 90px !important;
}

.card {
  background-color: #164d49 !important;
  color: white;
}

#buttonHome {
  color: black;
  background-color: white;
  border: none;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

#buttonNav {
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}

#buttonNav:hover {
  border: 1px solid #164d49;
  background-color: white;
  color: #164d49;

}

.btn-primary {
  border: none !important;
}

.table {
  margin-top: 80px;
}

.h1title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 50px;
}

.placeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.placeDetails {
  margin-top: 80px; 
}

#buttonDetails {
  background-color: #164d49;
  margin-top:20px
}

#buttonDetails:hover {
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
}

#buttonCreate {
  background-color: #164d49;
}

#buttonCreate:hover {
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
}
.form-signup{
  background-image: url("../images/background-andalucia.jpg");
  background-size: cover; 
  background-repeat: no-repeat;

  padding: 20px;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  }
.form-regis{
   display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center; 
  height: 100%;
  margin-top: 50px;
}
.letter-label{
  font-weight: bold;
}
.form-inicio-button.btn-primary {
  position: absolute; 
  bottom: 400px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: #164d49; 
}
.form-añadir-button.btn-primary {
  position: absolute; 
  bottom: 180px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: #164d49; 
}
.form-regis-button.btn-primary {
  position: absolute; 
  bottom: 80px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: #164d49;  
}
.form-miperfil-button.btn-primary{
  position: absolute; 
  transform: translateX(-50%);
  background-color: #164d49; 
  
}
.form-miperfil-button.btn-primary:hover{
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
  
}
.form-add-site{
  margin: 0 auto ;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.profile-section {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  
}

.profile-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-section img {
  border-radius: 50%;
  margin: 10px 0;
}

.profile-section p {
  margin: 5px 0;
}
.fav-container {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
  
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.fav-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 780px;
  background-color: transparent;
  
}

.favs {
  background-color:transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:380px;
  height: 440px; 
  margin-bottom: 20px;
  
}
.favs img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.button-container-fav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
}
.button-container-fav button{
  background-color: #164d49;
}

.button-container-fav button:hover {
  border: 1px solid #164d49!important;
  background-color: white;
  color: #164d49;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  color: gray; 
}

.heart-button.filled {
  color: red; 
}

.borderImg {border-radius: 10px;}
.borderPlaces {margin-top: 30px; margin-bottom: 100px}
.detailsite{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;

}
.detailbodysite{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.valorationclass{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
}
.valoraciones{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
}

.buttonPlaceDetails {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.rating{margin-left: 150px!important;}