<div class="container mt-4">
  <h1 class="h1-listuser">Lista de Usuarios</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Foto de Perfil</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Borrar Usuario</th>
      </tr>
    </thead>
    <tbody>
      {{#each allUsers}}
        <tr>
          <td>
            <img src="{{this.profileImg}}" alt="" width="80px" height="100px" />
          </td>
          <td>{{this.username}}</td>
          <td>{{this.email}}</td>
          <td>
            <form action="/user/delete/{{this._id}}" method="post">
              <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>